In [1]:
import pandas as pd
import pickle

In [2]:
# read data
data = pd.read_csv('data.csv', dtype=object)

data.head()

,Instrument,Total Debt,Accounts Payable (CF),NAICS Industry Group Name,Inventories (CF),Delisted Quote Flag,Retained Earnings (Accumulated Deficit),Net Debt Incl. Pref.Stock & Min.Interest,Total Current Assets,Total Liabilities,...,Tangible Book Value Per Share,Net Sales,Operating Income,Instrument Is Active Flag,Tangible Book Value - Utility,"Total Assets, Reported",Depreciation And Amortization,Total Current Liabilities,Year,Bankrupt
0,910655,1866000.0,-235000.0,Motor Vehicle Body and Trailer Manufacturing,-9289000.0,1.0,49741000.0,-8580000.0,82689000.0,23250000.0,...,8.43993,360326000.0,40075000.0,0.0,87124000.0,117739000.0,413000.0,19209000.0,2000,1
1,1116521,10000000.0,-47000000.0,Communications Equipment Manufacturing,81000000.0,1.0,NaN,-184000000.0,3043000000.0,2422000000.0,...,5.59129,8268000000.0,369000000.0,0.0,1556000000.0,4239000000.0,NaN,1597000000.0,2000,1
2,895651,377000.0,NaN,Offices of Other Health Practitioners,289000.0,1.0,-18251000.0,-1483000.0,9479000.0,13186000.0,...,0.4067,54971000.0,-1056000.0,0.0,3622000.0,32145000.0,NaN,6303000.0,2000,1
3,1398702,NaN,NaN,Tobacco Manufacturing,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,2000,1
4,1434621,NaN,NaN,Nondepository Credit Intermediation,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,2000,1

## Healthy Companies Data

In [3]:
# extract the healthy dataframe
healthy_raw = data[data['Bankrupt'] == '0']

healthy_raw.head()

,Instrument,Total Debt,Accounts Payable (CF),NAICS Industry Group Name,Inventories (CF),Delisted Quote Flag,Retained Earnings (Accumulated Deficit),Net Debt Incl. Pref.Stock & Min.Interest,Total Current Assets,Total Liabilities,...,Tangible Book Value Per Share,Net Sales,Operating Income,Instrument Is Active Flag,Tangible Book Value - Utility,"Total Assets, Reported",Depreciation And Amortization,Total Current Liabilities,Year,Bankrupt
24200,1750,181359000.0,24659000.0,Aerospace Product and Parts Manufacturing,-46212000.0,0.0,184529000.0,173109000.0,508186000.0,400595000.0,...,10.44308,1050608000.0,77381000.0,1.0,285942000.0,726630000.0,NaN,173586000.0,2000,0
24201,61478,49900000.0,45000000.0,Communications Equipment Manufacturing,-66700000.0,1.0,899200000.0,-484600000.0,1376600000.0,462500000.0,...,14.01205,2151800000.0,135000000.0,0.0,1358300000.0,2057800000.0,22200000.0,448500000.0,2000,0
24202,319126,6402000.0,-300000.0,"Navigational, Measuring, Electromedical, and C...",665000.0,0.0,-6361000.0,6153000.0,9758000.0,8778000.0,...,129.66559,29370000.0,-1682000.0,1.0,2404000.0,13986000.0,NaN,2804000.0,2000,0
24203,730469,483008000.0,NaN,Other Investment Pools and Funds,1255000.0,1.0,56649000.0,468594000.0,335484000.0,641657000.0,...,-1.79517,600282000.0,62651000.0,0.0,-48430000.0,908936000.0,NaN,170437000.0,2000,0
24204,6201,4402000000.0,NaN,Scheduled Air Transportation,-36000000.0,0.0,4733000000.0,2867000000.0,3969000000.0,14757000000.0,...,33.90123,17516000000.0,1988000000.0,1.0,5470000000.0,21455000000.0,1040000000.0,5302000000.0,2000,0

In [4]:
for col in healthy_raw.columns:
    print(col)

print()
print(len(healthy_raw.columns))

Instrument
Total Debt
Accounts Payable (CF)
NAICS Industry Group Name
Inventories (CF)
Delisted Quote Flag
Retained Earnings (Accumulated Deficit)
Net Debt Incl. Pref.Stock & Min.Interest
Total Current Assets
Total Liabilities
Company Common Name
CIK Number
Total Equity
Tangible Book Value - Banks
Tangible Book Value - Insurance
Net Income/Starting Line, Cumulative
Tangible Book Value - Reported
Cash and Short Term Investments
Market Value for Company
Tangible Book Value Per Share
Net Sales
Operating Income
Instrument Is Active Flag
Tangible Book Value - Utility
Total Assets, Reported
Depreciation And Amortization
Total Current Liabilities
Year
Bankrupt

29

In [5]:
# drop non-quantitative columns
healthy = healthy_raw.drop(columns=['NAICS Industry Group Name', 'Delisted Quote Flag', 'Company Common Name',
                                    'CIK Number', 'Instrument Is Active Flag', 'Bankrupt'])

healthy.head()

,Instrument,Total Debt,Accounts Payable (CF),Inventories (CF),Retained Earnings (Accumulated Deficit),Net Debt Incl. Pref.Stock & Min.Interest,Total Current Assets,Total Liabilities,Total Equity,Tangible Book Value - Banks,...,Cash and Short Term Investments,Market Value for Company,Tangible Book Value Per Share,Net Sales,Operating Income,Tangible Book Value - Utility,"Total Assets, Reported",Depreciation And Amortization,Total Current Liabilities,Year
24200,1750,181359000.0,24659000.0,-46212000.0,184529000.0,173109000.0,508186000.0,400595000.0,326035000.0,285942000.0,...,8250000.0,481230000.0,10.44308,1050608000.0,77381000.0,285942000.0,726630000.0,NaN,173586000.0,2000
24201,61478,49900000.0,45000000.0,-66700000.0,899200000.0,-484600000.0,1376600000.0,462500000.0,1595300000.0,1358300000.0,...,534500000.0,10975190000.0,14.01205,2151800000.0,135000000.0,1358300000.0,2057800000.0,22200000.0,448500000.0,2000
24202,319126,6402000.0,-300000.0,665000.0,-6361000.0,6153000.0,9758000.0,8778000.0,5208000.0,2404000.0,...,249000.0,3480000.0,129.66559,29370000.0,-1682000.0,2404000.0,13986000.0,NaN,2804000.0,2000
24203,730469,483008000.0,NaN,1255000.0,56649000.0,468594000.0,335484000.0,641657000.0,267279000.0,-48430000.0,...,14414000.0,NaN,-1.79517,600282000.0,62651000.0,-48430000.0,908936000.0,NaN,170437000.0,2000
24204,6201,4402000000.0,NaN,-36000000.0,4733000000.0,2867000000.0,3969000000.0,14757000000.0,6698000000.0,5470000000.0,...,1535000000.0,NaN,33.90123,17516000000.0,1988000000.0,5470000000.0,21455000000.0,1040000000.0,5302000000.0,2000

In [6]:
# replace all NAN values with 0 and non-NANs with 1
healthy = healthy.notnull().astype('int')

# except for the instruments and the year
healthy['Instrument'] = healthy_raw['Instrument']
healthy['Year'] = healthy_raw['Year']


healthy.head()

,Instrument,Total Debt,Accounts Payable (CF),Inventories (CF),Retained Earnings (Accumulated Deficit),Net Debt Incl. Pref.Stock & Min.Interest,Total Current Assets,Total Liabilities,Total Equity,Tangible Book Value - Banks,...,Cash and Short Term Investments,Market Value for Company,Tangible Book Value Per Share,Net Sales,Operating Income,Tangible Book Value - Utility,"Total Assets, Reported",Depreciation And Amortization,Total Current Liabilities,Year
24200,1750,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,0,1,2000
24201,61478,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,2000
24202,319126,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,0,1,2000
24203,730469,1,0,1,1,1,1,1,1,1,...,1,0,1,1,1,1,1,0,1,2000
24204,6201,1,0,1,1,1,1,1,1,1,...,1,0,1,1,1,1,1,1,1,2000

In [7]:
for col in healthy.columns:
    print(col)

print()
print(len(healthy.columns))

Instrument
Total Debt
Accounts Payable (CF)
Inventories (CF)
Retained Earnings (Accumulated Deficit)
Net Debt Incl. Pref.Stock & Min.Interest
Total Current Assets
Total Liabilities
Total Equity
Tangible Book Value - Banks
Tangible Book Value - Insurance
Net Income/Starting Line, Cumulative
Tangible Book Value - Reported
Cash and Short Term Investments
Market Value for Company
Tangible Book Value Per Share
Net Sales
Operating Income
Tangible Book Value - Utility
Total Assets, Reported
Depreciation And Amortization
Total Current Liabilities
Year

23

In [8]:
healthy = healthy.groupby(['Instrument', 'Year']).sum().reset_index()
healthy['noNANs'] = healthy.sum(axis=1)
healthy = healthy[['Instrument', 'Year', 'noNANs']]

healthy.head()

  Instrument  Year  noNANs
0    1000045  2000      17
1    1000045  2001      17
2    1000045  2002      18
3    1000045  2003      18
4    1000045  2004      17

In [9]:
healthy.noNANs.max()

21

## Bankrupt Companies Dates Data

In [10]:
# read the bankruptcy dates
dates = pd.read_csv('bankruptcy_dates.csv', dtype = {'CIK' : str}, index_col=0)
# sort by date
dates.sort_values(by=['Date'], inplace=True)

dates

             CIK                             Company  Date
8     0000006125            Keystone Camera Products  1992
29    0000797422               Hi-Def Enterprise Inc  1993
23    0000822373                         Namsco Corp  1994
12    0000087817        Scientific Radio Systems Inc  1995
645   0001129981            OGLEBAY NORTON CO /OHIO/  2004
88    0000225463                          HUFFY CORP  2004
519   0001069201          CROSS MEDIA MARKETING CORP  2004
122   0000701345                US AIRWAYS GROUP INC  2004
598   0001107080                  ENVIRO ENERGY CORP  2004
188   0000801550                             DVI INC  2004
626   0001121131    REDLINE PERFORMANCE PRODUCTS INC  2004
52    0000066895      MISSISSIPPI CHEMICAL CORP /MS/  2004
217   0000829499        INTERSTATE BAKERIES CORP/DE/  2004
87    0000225211                         BICO INC/PA  2004
186   0000800181                 MED DIVERSIFIED INC  2004
560   0001091953       CHOICE ONE COMMUNICATIONS INC  2004
35    0000038792         FRANKS NURSERY & CRAFTS INC  2004
77    0000100979                 ARIS INDUSTRIES INC  2004
352   0000930735          CROWN PACIFIC PARTNERS L P  2004
85    0000203200                         METATEC INC  2004
343   0000924174               CORAM HEALTHCARE CORP  2004
701   0001170161                   IDEAL ACCENTS INC  2004
165   0000773326                       FORELAND CORP  2004
648   0001131806              COMMERCE ONE INC / DE/  2004
271   0000878720         CHILDREN S BOOKS & TOYS INC  2004
524   0001071645              WORLD ACCESS INC /NEW/  2004
54    0000073088                   NORTHWESTERN CORP  2004
511   0001064063                      MIIX GROUP INC  2004
276   0000879206                            USN CORP  2004
185   0000797542             ZAXIS INTERNATIONAL INC  2004
...          ...                                 ...   ...
56    0000073887                   Bristow Group Inc  2019
59    0000076321             PARKER DRILLING CO /DE/  2019
522   0001071411                Fusion Connect, Inc.  2019
856   0001347613       SYNERGY PHARMACEUTICALS, INC.  2019
997   0001437106          Ascent Capital Group, Inc.  2019
1073  0001720201             iPic Entertainment Inc.  2019
266   0000872248               PETROQUEST ENERGY INC  2019
443   0001024126  PERNIX THERAPEUTICS HOLDINGS, INC.  2019
1036  0001528837                 Sanchez Energy Corp  2019
1055  0001573166                  Jones Energy, Inc.  2019
1070  0001656328     Sienna Biopharmaceuticals, Inc.  2019
1048  0001555177           Emerge Energy Services LP  2019
1072  0001690769       Alta Mesa Resources, Inc. /DE  2019
1053  0001568079                    PetroShare Corp.  2019
1062  0001586105                         Egalet Corp  2019
1061  0001584952                       EP Energy LLC  2019
1056  0001575360                 FTD Companies, Inc.  2019
476   0001045425                RAIT Financial Trust  2019
1066  0001603923       Weatherford International plc  2019
1033  0001518403              Alta Mesa Holdings, LP  2019
789   0001301501                      Achaogen, Inc.  2019
755   0001282266            WINDSTREAM SERVICES, LLC  2019
745   0001265107       MONITRONICS INTERNATIONAL INC  2019
306   0000896985          Destination Maternity Corp  2019
726   0001208261          IMMUNE PHARMACEUTICALS INC  2019
216   0000827809          NOVELION THERAPEUTICS INC.  2019
396   0001004980                           PG&E Corp  2019
411   0001013238                        ARADIGM CORP  2019
607   0001109196  MABVAX THERAPEUTICS HOLDINGS, INC.  2019
1074  0001735828                Legacy Reserves Inc.  2019

[1175 rows x 3 columns]

In [11]:
# keep only bankrupt companies that went bankrupt after 2006
dates = dates[dates.Date > 2006]
dates = dates.groupby(['Date']).count()

dates

      CIK  Company
Date
2007   85       85
2008   94       94
2009  177      177
2010   93       93
2011   66       66
2012   72       72
2013   64       64
2014   56       56
2015   52       52
2016   96       96
2017   55       55
2018   40       40
2019   46       46

# The Situation

So here we have 13 years, in each a specific number of bankrupt comapnies. Now we want to extract 5 healthy companies for each bankrupt one. Plus, this data should be collected from a period of year-7 to year-5.

So for example, we need data for 93 * 5 healthy companies in years 2003 to 2007 (inclusive), for 93 companies that went bankrupt in 2010.


On the other hand, we have a dataframe of healthy companies CIK code for each year (2000-2019) and a column showing the number of non-NAN values for each row. A no-NANs equal to 21 indicate that the company for that year has full data.
Now our goal is to pick those 5 company for each bankrupt companies from ones with the highest no-NANs values.



## The Strategy

For each time period, we calculate the sum of no-NANs for that period and pick the n maximums; n being the number of companiets that went bankrupt in year+2. So we have to do it 13 times (2007-2019).

In [12]:
healthy.head()

  Instrument  Year  noNANs
0    1000045  2000      17
1    1000045  2001      17
2    1000045  2002      18
3    1000045  2003      18
4    1000045  2004      17

In [13]:
healthy['Year'] = healthy['Year'].apply(lambda x: int(x))

In [14]:
# write a function for the task

def extract_healthy(df, year, n):
    '''
    The function takes the year in which n companies went bankrupt,
    and from the healthy dataframe, returns a CIK lists of 5 * n
    healthy companies which 7 years to 5 years before that year has
    the fullest dataset.
    '''
    
    # first remove all the extra rows for years not in the period
    df_temp = df[(df.Year < year-2) & (df.Year > year-8)]
    # group the dataframe by instrument, sum over the no-NANs
    df_temp = df_temp.groupby(['Instrument']).sum()
    # drop the now useless year column
    df_temp.drop(columns=['Year'], inplace=True)
    # descending-sort the companies based on noNANs magnitude
    df_temp.sort_values(by=['noNANs'], ascending=False, inplace=True)
    # cut the first n * 5 ones
    df_temp = df_temp[:5*n]
    # make a list of their CIK cides
    CIK_list = df_temp.index.to_list()
    # drop the healthy companies already picked from the df
    df = df[~df['Instrument'].isin(CIK_list)]
    
    return CIK_list

In [15]:
# keep the original df safe, just in case
healthy_copy = healthy.copy()

# create a dic storing the CIK lists for different years
CIK_year = {}

# loop over all available years in our dataset
for year in range(2019, 2006, -1):
    # take the number of companies went bankrupt in that year
    n = int(dates[dates.index == year]['Company'])
    # take the CIK list
    CIK_list = extract_healthy(healthy_copy, year, n)
    # add the list to the dictionary
    CIK_year[year] = CIK_list
    

print(CIK_year)

{2019: ['907242', '930803', '800286', '1295810', '1295947', '1448397', '1296205', '1057083', '1056923', '49826', '1056358', '1056285', '929994', '1056087', '800901', '1298341', '800937', '48039', '47217', '50292', '1449877', '929008', '50863', '1059677', '1453593', '1290900', '928054', '5117', '1292087', '1058811', '1452217', '1057807', '1451951', '1292900', '1058090', '1058057', '928659', '875296', '1057997', '46765', '1602397', '875657', '46129', '1051114', '869986', '1050952', '869487', '1439124', '1306830', '80420', '42136', '804212', '1050140', '804753', '4127', '1437598', '1050007', '40987', '40888', '1309167', '870228', '4281', '1051488', '1441849', '1443242', '1443062', '45919', '873044', '1442505', '1052595', '1301787', '802356', '1439636', '1302362', '1302707', '1051846', '803003', '870753', '1303849', '1051512', '1289877', '1060009', '880460', '1278027', '1469395', '793733', '61986', '1069353', '1069336', '6176', '1275283', '923601', '879796', '1468642', '1067701', '1468091', '1067294', '1066961', '1066923', '60667', '879303', '15847', '1584549', '880059', '107140', '791519', '791531', '1071941', '1582244', '1471458', '63814', '922486', '1071337', '1070235', '880266', '1271940', '1272597', '63271', '1272830', '1070412', '922913', '106640', '795212', '1289814', '795551', '1062449', '877212', '1286973', '1287213', '1456453', '1456189', '927003', '1288741', '927066', '54441', '799097', '876160', '5337', '1289460', '1060426', '875762', '1060390', '877365', '56047', '1284823', '925660', '1466815', '1065860', '796124', '1065696', '1065677', '58492', '1463972', '56873', '1283950', '56868', '925894', '926042', '878079', '877931', '797721', '926295', '1049502', '868725', '1310067', '858877', '859737', '34151', '1333248', '811419', '1036960', '34088', '811596', '34067', '1621373', '941604', '1036292', '1334303', '1036044', '941685', '859368', '103595', '859365', '1332602', '1037646', '1037649', '861884', '1328571', '940173', '350698', '1328798', '1328919', '1424768', '1038683', '350557', '1423221', '1038357', '940944', '1038280', '810829', '1038144', '1038143', '1423556', '32604', '943003', '40528', '943034', '1341335', '1341439', '812906', '1418135', '944400', '317771', '317477', '855667', '316888', '1030471', '316793', '1030206', '813298', '1030058', '315852', '1029738', '944765', '1418819', '1031028', '1341170', '1033905', '1421517', '320575'], 2018: ['941604', '882154', '795212', '1295810', '917470', '793733', '1495153', '1495479', '940173', '1295947', '1044777', '791519', '91741', '1292900', '790705', '882235', '795551', '1296205', '77597', '880460', '1488419', '799097', '1047335', '880446', '1101169', '1489136', '1299139', '9389', '1489979', '1298341', '1046568', '797721', '1046102', '796124', '1292087', '78966', '1043509', '941685', '1041859', '783412', '1041829', '1288741', '883293', '78150', '1041514', '1290900', '1287213', '779544', '778734', '777516', '777504', '776999', '1503584', '882873', '110430', '1104252', '1289460', '1502505', '1103982', '786620', '1501775', '940944', '78749', '1289877', '1103719', '1042825', '1499934', '789356', '1499780', '1047699', '104777', '1047857', '1051512', '809012', '1310067', '1051846', '1309167', '934648', '1099150', '1471261', '806817', '1051488', '1099196', '1471458', '1306830', '1051114', '806968', '809023', '1469395', '1052595', '1312073', '1468091', '1466815', '810829', '919012', '1097864', '811419', '1463972', '811596', '1315257', '811809', '878079', '919175', '1097264', '879303', '1474735', '880266', '880059', '1099977', '1049502', '936402', '800901', '1302707', '1302362', '1483934', '1099609', '1048685', '1048620', '1301787', '800286', '1100682', '1487101', '800937', '1481055', '936130', '1479426', '879796', '802356', '1050007', '918160', '803003', '1303849', '1050140', '1477246', '80420', '804212', '1476170', '804753', '918541', '1508912', '775158', '812906', '1030058', '1110903', '724606', '1030471', '945641', '945699', '1030206', '723928', '1550935', '887497', '887596', '1029738', '72316', '722723', '1263074', '886912', '886835', '77476', '1110452', '915862', '1109879', '1031896', '730263', '730255', '915778', '1268471', '1550406', '94538', '1110647', '727207', '726958', '726845', '1030997', '722392', '1029199', '1029145', '709283', '712034', '1025862', '946840', '711404', '1235468', '710217', '708821', '721371', '708818', '1232524', '1024725', '1115836', '707388', '1572621', '712515', '712843', '889900', '1566844', '714256', '1114925', '71557'], 2017: ['1020391', '820097', '1069353', '1069336', '832370', '1508912', '832407', '17485', '711404', '946840', '832428', '928054', '832488', '712034', '712515', '1025862', '1306830', '29669', '1067701', '1409565', '712843', '1066961', '750004', '1309167', '928659', '1303849', '831749', '1024725', '1301787', '1023734', '880059', '1413898', '830052', '30302', '107140', '1024022', '927003', '927066', '879796', '879465', '710217', '1070412', '708818', '1302362', '879303', '708821', '1070235', '1302707', '709283', '1411861', '75252', '106640', '878079', '1310067', '836429', '1404592', '875762', '1607245', '1320934', '1321544', '1321646', '1403431', '875296', '1029145', '1029199', '1062449', '1318484', '930803', '1323653', '1323854', '1323974', '945699', '745655', '1029738', '1324105', '945641', '18172', '1318885', '1318310', '29002', '748213', '877931', '714256', '929008', '1312073', '1065860', '1065696', '1065677', '749037', '877365', '877212', '1315257', '2809', '1406635', '1406574', '748015', '71557', '747540', '1316898', '876160', '929994', '28372', '1318084', '1299139', '707388', '1071941', '821995', '883907', '1602397', '883787', '6955', '1423221', '69671', '1020214', '883293', '1283950', '1374328', '882873', '1080667', '1078723', '1421876', '1284823', '1550935', '1421419', '1078075', '1078037', '1077800', '3116', '700998', '883943', '821407', '823094', '1018871', '1271940', '1272597', '1272830', '820237', '315852', '1083663', '884887', '922913', '1275283', '6769', '884624', '821189', '1600139', '923601', '1278027', '884144', '1081751', '1019361', '883981', '68145', '821130', '1081022', '1077638', '311471', '1298341', '1072702', '925894', '880446', '1022652', '1022671', '1417663', '1295810', '1295947', '704440', '926042', '926295', '1023128', '1074436', '1730168', '1023131', '1023139', '880266', '1415404', '1023362', '1072483', '829224', '7536', '1414490', '880460', '925660', '701719', '755113', '1288741', '1021270', '882235', '882154', '1289460', '1076195', '1021604', '1419581', '948642', '1021853', '1289877', '82628', '1419428', '1290109', '1290900', '310568', '1418819', '1292087', '703351', '825542', '1292900', '1418135', '716643', '1402606', '1324948', '849240', '1047699', '13610', '726845', '1038143', '1038144', '1047335', '726958', '849146', '727207', '1361658', '1038280', '859737', '1361709', '849399', '1038357', '859368', '1361916', '943452', '1362120', '859365', '1362468', '736822', '104777', '936402', '858877', '936130', '1036292', '1050007', '1356093', '846876', '1387713', '1049502', '723928', '738076', '1386716', '1036960', '1386607', '1037649', '13573', '1358071', '861884', '1048685', '1048620', '724606', '725363', '1385544', '1358700', '1037646', '1038683', '1362516', '1388319', '85408', '1369241', '1377673', '855667', '1043509', '851310', '1376755', '1370544', '1042825', '1376139', '21510', '940944', '1377789'], 2016: ['891919', '1321544', '918160', '1030058', '890908', '1030206', '846876', '726845', '1030471', '726958', '727207', '1099196', '1099150', '1221715', '724606', '94538', '730255', '730263', '889900', '845818', '918541', '1320934', '88941', '944809', '7332', '736822', '725363', '1099609', '1227930', '722392', '892025', '1100682', '1201251', '1065696', '1065677', '869986', '1205727', '1207179', '721371', '1099977', '89140', '1373835', '1374328', '722723', '72316', '891288', '1029145', '1029199', '945699', '870753', '1508912', '945641', '1029738', '723928', '1031896', '738076', '892450', '886835', '1084557', '919012', '1318310', '75252', '1318084', '103595', '843405', '7536', '1084702', '1036292', '886912', '755113', '1097020', '1381325', '1381531', '1036960', '1316898', '1260221', '1096376', '842294', '1037646', '1037649', '1062449', '1263074', '1318484', '750004', '73887', '743988', '944765', '1376139', '1499780', '1376755', '740726', '1232384', '1097864', '742278', '929994', '1232524', '743316', '1377673', '887596', '745655', '873044', '1377789', '1378453', '1235468', '1318885', '748015', '944400', '1084475', '748213', '749037', '1200268', '718096', '1038144', '1067701', '897723', '948642', '1021853', '1529892', '63271', '1103982', '63814', '1022225', '850660', '850579', '65011', '1368519', '1368265', '1325159', '1103719', '896841', '1022652', '1022671', '922913', '1324948', '1368900', '1369241', '1066961', '1023128', '1021604', '61986', '1023139', '1171264', '1069336', '899597', '56047', '1105542', '916529', '56868', '1020391', '56873', '1170650', '1170848', '58492', '1366868', '6176', '1171596', '851310', '1326059', '60667', '1325955', '850693', '1172222', '110430', '1021270', '1325281', '1104252', '1023131', '928659', '717954', '712515', '1183941', '708818', '708821', '710217', '894081', '849240', '1025862', '711404', '1191255', '91741', '712034', '849146', '1323653', '712843', '1101169', '1065860', '71557', '1083663', '892907', '917470', '89270', '716643', '892553', '71691', '707388', '929008', '850209', '700998', '1023362', '6769', '68145', '106640', '895642', '6955', '69671', '1023734', '895564', '1324105', '1370544', '1323974', '1024725', '1024022', '895419', '701719', '895041', '946840', '1179821', '703351', '849399', '869487', '704440', '894627', '1038143', '885639', '1365784', '813298', '831749', '1090514', '1090507', '1058090', '1058057', '879796', '1289790', '1050007', '812906', '1289877', '920532', '1290109', '811809', '1303849', '813828', '1423221', '813920', '1290900', '814068', '877212', '1057807', '934648', '877365', '1089976', '1289460', '1049502', '1051114', '809023', '806968', '1396279', '832488', '1047699', '1091862', '936402', '104777', '808219', '880266', '1058811', '809012', '1434754', '811596', '876160', '832428', '1288741', '832407', '936130', '1048620', '1048685', '832370', '810829', '1086745', '1091164', '1419581', '1292900', '806817', '1299139', '1411861', '821130', '821189', '821407', '1301787', '821995', '1298341', '829224', '1403431', '933267', '1057083', '823094', '921878', '877931', '1056923', '1404592', '1056087', '1406635', '1056285', '825542', '1406574', '1056358', '82628', '878079', '877890', '921313', '815093', '1051846', '815094', '815097', '1419428', '1302707', '1051488', '1051512', '879465', '1418135', '1401112', '14177', '879303', '817129', '820237', '1295810', '818682', '1415404', '1295947', '1414490', '1052595', '1413898', '1402281', '819926', '820097', '830052', '1047335', '1086319', '1038280', '1388319', '1386607', '1386716', '941604', '1387713', '1041514', '884144', '786620', '1388195', '1271940', '1272597', '1272830', '1094739', '884624', '1041859', '789356', '940944', '919605', '78966', '1312073', '1469395', '1094392', '1094324', '1389050', '790705', '783412', '941685', '883907', '771617', '943452', '1038357', '1315257', '8411', '1084991', '768411', '1038683', '768835', '768892', '769594', '943034', '771999', '779544', '1039889', '1267097', '1040130', '1385544', '884887', '77476', '775158', '77597', '776999', '777516', '778734', '883943', '1389305', '1284823', '1046568', '1059677', '1448397', '800286', '1394156', '1046102', '800901', '920148', '800937', '1395593', '802356', '1443062', '803003', '799097', '1442505', '1306830', '1283950', '80420', '804212', '880460', '804753', '880446', '875762', '1092083', '1439124', '882154', '1452217', '1042825', '795551', '1275283', '791519', '883787', '837173', '1310067', '883293', '1060426', '793733', '1043509', '882873', '795212', '1060390', '9389', '1278027', '796124', '940173', '1085734', '1309167', '797721', '1060009', '882235', '1044777', '1093430', '875296', '1069353', '1088162', '1009244', '906782', '1078723', '1349108', '21510', '95052', '912061', '858877', '1328919', '1013488', '1119951', '859365', '1003565', '353184', '912093', '1130626', '1109879', '1328798', '864749', '907242', '1336917', '1350381', '1071941', '1110647', '23666', '350557', '23197', '865415', '98222', '350698', '1004673', '95302'], 2015: ['823094', '944400', '56868', '56873', '14177', '916529', '797721', '873044', '8411', '58492', '1298341', '925894', '1361709', '1072483', '1135338', '1299139', '1361658', '60667', '1133260', '1099150', '909037', '870753', '1419581', '6176', '61986', '1099196', '1073362', '1362120', '866734', '5117', '49754', '1030058', '49826', '1030206', '50292', '1289877', '1030471', '1290109', '800286', '94538', '1290900', '1137789', '1295947', '1097864', '799097', '1292900', '944765', '1074436', '54441', '1362468', '1031896', '798949', '1295810', '56047', '103595', '926295', '63271', '68145', '1304421', '910111', '1038280', '1038357', '793733', '943034', '1038683', '927066', '1358700', '1128252', '6769', '1306830', '869986', '1099977', '1039889', '866970', '866830', '1040130', '1040161', '1070412', '915862', '843405', '6955', '69671', '1071255', '943452', '1038144', '1038143', '1071941', '796124', '1301206', '63814', '1036292', '909326', '1301787', '795551', '869487', '916365', '65011', '795212', '13610', '1498301', '1130626', '1302707', '1037646', '1037649', '107140', '1099609', '842294', '868725', '1303849', '907242', '852766', '800364', '1023139', '806817', '353184', '1078723', '1369241', '1022652', '353569', '1368900', '1368358', '1023128', '354963', '1023131', '1023362', '878079', '1278027', '1145700', '355777', '1078075', '1078037', '923601', '89140', '1077638', '1368265', '1024022', '357020', '1022225', '879303', '948642', '806968', '1081022', '922913', '34067', '901491', '34088', '1080667', '1271940', '1020391', '34151', '1272597', '1272830', '901696', '350557', '350698', '808219', '1021270', '879465', '1406635', '1275283', '1021604', '350907', '918160', '1021853', '804753', '946840', '1289790', '45919', '1140625', '917470', '800937', '1288741', '800901', '1140310', '1097020', '91741', '837173', '906782', '875296', '46129', '37748', '1138951', '1289460', '46765', '1029145', '1029199', '1508912', '945641', '1363851', '47217', '48039', '1029738', '4281', '1076195', '875762', '802356', '877931', '1144354', '1144331', '804212', '1096376', '1024725', '877890', '3959', '39899', '877365', '1366868', '877212', '1025862', '1283950', '40888', '40987', '876427', '906193', '4127', '1284823', '42136', '876160', '803003', '1423221', '866706', '1404592', '1328919', '1114925', '1328571', '1051488', '775158', '1051512', '73887', '1114655', '850579', '1051846', '77476', '1328798', '1113866', '105132', '1344376', '1329394', '1052595', '850660', '850693', '1113232', '1062449', '742278', '913165', '1343257', '1439124', '738076', '77597', '1070235', '1325955', '859737', '1324948', '1049502', '1325159', '1116942', '1325281', '1103982', '730255', '730263'], 2014: ['1084031', '1031896', '856250', '14177', '1309167', '1310067', '925894', '107140', '944765', '37748', '1145700', '813828', '1099609', '755113', '3959', '1071255', '39899', '926295', '813920', '1312073', '814068', '1313024', '40888', '1144354', '1099196', '896841', '40987', '812906', '895564', '1304421', '1159154', '1073362', '353184', '896262', '353569', '76149', '1029145', '1029199', '945641', '1071941', '1306830', '1029738', '813298', '914397', '354963', '1030192', '1030206', '355777', '94538', '1030471', '1144331', '4127', '1038683', '1037649', '49754', '49826', '815094', '1318084', '1318310', '1318484', '50292', '1318885', '815097', '1037646', '1138951', '1479013', '5117', '1369241', '1038143', '1038144', '943452', '1368900', '851310', '1038280', '943034', '1038357', '815093', '1100682', '7536', '1316898', '854775', '1070412', '944400', '853971', '1099977', '1315257', '1070235', '852937', '899597', '927066', '852772', '1140625', '45919', '103595', '46129', '1069353', '46765', '47217', '1069336', '75252', '1036292', '48039', '1159513', '858877', '859368', '1021270', '809012', '892450', '1166663', '865415', '1166380', '1498301', '864749', '892553', '1166141', '1166126', '315852', '808918', '1295810', '1295947', '1021604', '89270', '864240', '948642', '1021853', '864233', '316793', '892907', '922913', '1020391', '1160262', '1381531', '101821', '890908', '77597', '1078075', '310568', '310764', '1078037', '775158', '891288', '891293', '89140', '916365', '1290900', '311471', '1168696', '1019361', '3116', '77476', '1077638', '1292900', '891919', '892025', '771999', '317477', '1022225', '1097020', '915778', '34088', '946840', '34151', '1377673', '861884', '1300050', '1024725', '1161785', '350557', '766011', '317771', '350698', '1301206', '895041', '1025862', '1301787', '350907', '811809', '859737', '895419', '1302707', '1024022', '1162556', '810829', '768411', '318154', '1076195', '319126', '1297024', '319450', '923601', '1096199', '769594', '1023128', '1023131', '1023139', '320345', '320575', '1023362', '768835', '1298341', '915862', '1096376', '32604', '894081', '1163165', '1038541', '750004', '1289877', '1108332', '710217', '934648', '1452217', '730263', '837173', '1120295', '711404', '730255', '712034', '712515', '1119951', '708821', '712843', '1341170', '82628', '1051114', '1060390', '105132', '1117795', '910111', '1051512', '1060009', '1050007', '912607', '1108838', '7332', '1123494', '701719', '1047699', '1361709', '104777', '736822', '1106942', '1123316', '929994', '8411', '1361658', '707388', '703351', '13610', '909037', '1048620', '1048685', '1107216', '909326', '704440', '1339048', '1049502', '1344376', '716643', '901491', '1113866', '725363', '721371', '831749', '1114655', '830052', '1058090', '1058057', '724606', '1056087', '1110647', '1056285', '1110452', '722392', '1056358', '722723', '1057807', '1113232', '1110903', '1056923'], 2013: ['877931', '813828', '808918', '809012', '810829', '13610', '811809', '1046102', '13573', '812906', '813298', '1046568', '936130', '813920', '808219', '815093', '815094', '1047335', '815097', '1047699', '817129', '104777', '818682', '1346685', '820097', '820901', '1044777', '806817', '1019361', '799097', '1381531', '791519', '940944', '793733', '795551', '1041514', '796124', '797721', '798949', '940173', '1041859', '800136', '1043509', '800286', '800364', '9389', '800901', '800937', '1042784', '1042825', '802356', '803003', '1043156', '804212', '1048620', '1048685', '821130', '849240', '1056087', '1318885', '1056285', '1318310', '1318084', '845818', '1056923', '1057083', '846546', '846876', '849146', '1312073', '821189', '849399', '1057807', '1058057', '1310067', '1309167', '850209', '850579', '1058811', '850660', '850693', '1306830', '1320934', '843405', '842294', '8411', '821995', '934648', '823094', '1050007', '82628', '827809', '829224', '830052', '831749', '1051114', '832407', '832428', '105132', '1332602', '1051512', '933267', '1329394', '1051846', '1328919', '837173', '1052595', '1325159', '1323974', '790705', '78966', '789356', '717954', '946840', '708821', '14280', '710217', '711404', '1024725', '712034', '712515', '712843', '716643', '1025862', '1423221', '727207', '718096', '721371', '722392', '722723', '723209', '14177', '724606', '945641', '725363', '1029145', '1029199', '707388', '1024022', '704440', '703351', '56873', '58492', '1020391', '60667', '6176', '61986', '948642', '63814', '1021270', '1021604', '65011', '1021853', '1022225', '6769', '68145', '6955', '69671', '1023128', '1023131', '1023139', '700998', '1023362', '701719', '726958', '1029738', '1040161', '1038143', '768835', '769594', '771999', '77476', '1037646', '1037649', '775158', '77597', '776008', '778734', '779544', '1038144', '94538', '1038280', '1038357', '783412', '1038541', '1038683', '941685', '785968', '786620', '941604', '1039889', '1040130', '768411', '1036292', '943452', '766011', '72911', '1030206', '730255', '730263', '1030471',

In [16]:
# write the dictionary
with open('CIK_year.txt', 'wb') as f:
    pickle.dump(CIK_year, f)